.form{
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 296px;
    background-color: #fff;
    border: 1px solid black;
    margin-bottom: 20px;
   
    

}
.formName{
    margin-bottom: 16px;

}
.formInput{
    border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  color: #1d1212de;
  box-sizing: border-box;
  background-color: white;

}
.formNumber{
    margin-bottom: 16px;

}
.formBtn{
   
    border-radius: 8px;
    padding: 8px 16px;
    max-width: fit-content;
    height: 40px;
    background-color: #4e75ff;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    display: block;
  margin: auto;
}
.formBtn:hover {
    background-color: #6c8cff;
  }